<h2><%= student.title %></h2>
<div class="book-details">
    <div>
        <img src="<%= student.ImagePath %>" class="book-cover" >
        <div class="book-details-btn-grid">
            <a class="btn btn-primary" href="/students/<%= student.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm', { url: `/students/${student.id}` }) %>            
        </div>
    </div>
    <div class="book-details-grid">
        <div class="book-details-label">Name:</div>
        <div><%= student.name %></div>
        <div class="book-details-label">Father Name:</div>
        <div><%= student.fatherName %></div>
        <div class="book-details-label">Date of Birth:</div>
        <div><%= student.DOB.toDateString() %></div>
        <div class="book-details-label">Roll No:</div>
        <div><%= student.rollNo %></div>
        <div class="book-details-label">Phone 1:</div>
        <div><%= student.phone1 %></div>
    </div>    
</div>
